<div id="programForm">
    <h2>Program created on <span data-bind:"text: selectedProgram.CreatedOn" /> </h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Lift Type</th>
                    <th>Weight</th>
                    <th>Sets</th>
                    <th>Reps</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: selectedProgram.Lifts">
                <tr>
                    <td><select data-bind="options: $root.liftTypes,
                            optionsText: 'Name',
                            value: $parent.LiftTypeId,
                            optionsCaption: 'Choose...'"></select></td>
                    <td><input type="number" data-bind="value: Weight" /></td>
                    <td><input type="number" data-bind="value: Sets" /></td>
                    <td><input type="number" data-bind="value: Reps" /></td>
                </tr>
            </tbody>
        </table>
        <button class="button" data-bind="click: addLiftToProgram, clickBubble: false">+</button>
        <button class="button" data-bind="click: saveProgram, clickBubble: false">Save</button>
</div>
