<div id="programForm">
    <h2>Program created on <span data-bind:"text: CreatedOn" /> </h2>
    <form class="form" data-bind="submit: saveProgram">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Lift Type</th>
                    <th>Weight</th>
                    <th>Sets</th>
                    <th>Reps</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: selectedProgram.Lifts">
                <tr>
                    <td><select data-bind="options: $root.liftTypes,
                            optionsText: 'Name',
                            value: LiftTypeId,
                            optionsCaption: 'Choose...'"></select></td>
                    <td><input type="number" data-bind="value: selectedProgram.Weight" /></td>
                    <td><input type="number" data-bind="value: selectedProgram.Sets" /></td>
                    <td><input type="number" data-bind="value: selectedProgram.Reps" /></td>
                </tr>
            </tbody>
        </table>
        <button class="button" data-bind="click: addLiftToProgram">+</button>
        <input type="submit" />
    </form>
</div>
