<div id="programForm">
    <!-- ko using: selectedProgram -->
    <h2>Program created on <span data-bind:"text: CreatedOn" /> </h2>
    <form class="form" data-bind="submit: saveProgram">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Lift Type</th>
                    <th>Weight</th>
                    <th>Sets</th>
                    <th>Reps</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Lifts">
                <tr>
                    <td><select data-bind="options: $root.liftTypes,
                            optionsText: 'Name',
                            value: LiftTypeId,
                            optionsCaption: 'Choose...'"></select</td>
                    <td><input type="number" data-bind="value: Weight" /></td>
                    <td><input type="number" data-bind="value: Sets" /></td>
                    <td><input type="number" data-bind="value: Reps" /></td>
                </tr>
            </tbody>
        </table>
        <button class="button" data-bind="click: addLiftToProgram, text: '+'"/>
        <input type="submit" />
    </form>
    <!-- /ko -->
</div>
