<div id="newUser">
    <form class="form" data-bind="submit: saveNewUser">
        <label>Username* </label><input type="text" data-bind="value: newUser.Username" /><br />
        <label>Password* </label><input type="password" data-bind="value: newUser.Password" /><br />
        <label>Confirm* </label><input type="password" id="passwordConfirm" /><br />
        <label>First </label><input type="text" data-bind="value: newUser.First" /><br />
        <label>Last </label><input type="text" data-bind="value: newUser.Last" /><br />

        <input type="hidden" name="shippingAddress" id="shippingAddress" />
        <input type="submit" />
    </form>
</div>
